<?xml version='1.0' encoding='utf-8'?>
<widget id="org.qubic.wallet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Qubic - Wallet</name>
    <description>Qubic - Wallet</description>
    <author email="dev@cordova.apache.org" href="https://wallet.qubic.li">
        Qubic Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />       
    </platform>
    <platform name="ios">
        <!-- iOS-spezifische Konfigurationen -->
    </platform>
</widget>

