<?xml version='1.0' encoding='utf-8'?>
<widget id="org.qubic.wallet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Qubic Wallet</name>
    <description>Official Web Wallet</description>
    <author email="dev@cordova.apache.org" href="https://qubic.li">
        Qubic.li Developer Team
    </author>
    <content src="app/index.html" />
    <allow-intent href="http://*/app/*" />
    <allow-intent href="https://*/app/*" />
    <platform name="android">
        <allow-intent href="market:*" />   
        <config-file target="AndroidManifest.xml" parent="/*" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/splashscreen.png" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#011A22" />
        <preference name="AndroidWindowSplashScreenBackground" value="#011A22" />
    </platform>
    <platform name="ios">
         <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    <splash src="res/screen/ios/Default@2x~universal~comany.png" />
    <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
    <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
    <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
    <splash src="res/screen/ios/Default@3x~universal~comany.png" />

    </platform>
    <icon src="www/img/icon-512x512.png" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="350"/>
    <preference name="SplashScreenDelay" value="3000" />
</widget>