@import "../../vars.scss";

.full-width {
  width: 100%;
}

.asset-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
  overflow-x: auto;
  min-width: 120px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .col:last-child {
    margin-right: 0;
  }

  .padding button {
    margin: 10px;
    padding: 10px 40px;
  }
}

.sendAssets-card {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .transaction-fee {
    margin-bottom: 20px;
  }

  .info-note {
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 0.9em;
    opacity: 0.7;
    font-style: italic;
  }
}

.error-message {
  color: red;
}

.card-list {
  gap: 0px 20px;

}

mat-card {
  min-width: 385px; 
  margin-bottom: 20px;
}

::ng-deep {
  .is-mobile  {
      mat-card {
        min-width: 280px;
        font-size: 80%;
        margin: 20px auto;
      }
  }
}


.dashboard-balance-name {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}

.mobileAssetItem {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.assetList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
      font-weight: bold;
      margin-bottom: 0px;;
  }

  
}

.mat-mdc-cell{
  height: 70px;
}
