.full-width {
  width: 100%;
}


.asset-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
  overflow-x: auto;


  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .col:last-child {
    margin-right: 0;
  }

  .padding button {
    margin: 10px;
    padding: 10px 40px;
  }
}

.sendAssets-card {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .transaction-fee {
    margin-bottom: 20px;
  }
}

.error-message {
  color: red;
}

.no-assets-message {
  padding: 10px;
  text-align: center;
}


.card-list {
  gap: 0px 20px;

}

mat-card {
  min-width: 385px;
}

::ng-deep {
  .is-mobile  {
      mat-card {
          min-width: 320px;
      }
  }
}


.dashboard-balance-name {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}