:host {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.status-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    padding-left: 6px;
    padding-right: 2px;

    mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 1;
    }
}

