.mostVotes{
    font-weight: bold;
}
.proposal-card {
    margin-bottom: 10px;    
    min-width: 120px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }