<ng-container *transloco="let t">
  <h2 mat-dialog-title>{{ t("revealSeedComponent.title") }} - {{addressAlias}}</h2>
  <mat-dialog-content>
    <div class="seedInput">
      <strong>{{ t("revealSeedComponent.publicId") }}</strong>
      <div class="copy" [matTooltip]="t('general.copy.tooltip')" [cdkCopyToClipboard]="data.publicId">
        {{ data.publicId }}
      </div>
      <strong *ngIf="!data.isOnlyWatch">{{ t("revealSeedComponent.privateId") }}</strong>
      <div class="copy" [matTooltip]="t('general.copy.tooltip')" [cdkCopyToClipboard]="s">
        {{ s }}
      </div>
    </div>
    <br>
    <div *ngIf="categorizedSeeds.strongSeeds.length > 0 && !data.isOnlyWatch">
      <div class="text-center">
        <h2 class="green-dot">Strong seed <mat-icon class="green-dot">
            fiber_manual_record
          </mat-icon></h2>
      </div>
    </div>
    <div *ngIf="categorizedSeeds.weakSeeds.length > 0 && !data.isOnlyWatch">
      <div class="text-center">
        <h2 class="orange-dot">Weak seed <mat-icon class="orange-dot">
            fiber_manual_record
          </mat-icon></h2>
      </div>
      <ul *ngFor="let seed of categorizedSeeds.weakSeeds">
        <li *ngFor="let detail of seed.details">
          Repeated sequence: {{ detail.sequence }}<br>
          Positions: {{ detail.indices.join(', ') }}
          <hr>
        </li>
      </ul>
    </div>
    <div *ngIf="categorizedSeeds.badSeeds.length > 0 && !data.isOnlyWatch">
      <div class="text-center">
        <h2 class="red-dot">Bad seed <mat-icon class="red-dot">
            fiber_manual_record
          </mat-icon></h2>
      </div>
      <ul>
        <li *ngFor="let seed of categorizedSeeds.badSeeds">
          Repeating pattern: {{ seed.pattern }}
        </li>
      </ul>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>
      {{ t("revealSeedComponent.buttons.close") }}
    </button>
  </mat-dialog-actions>
</ng-container>