.seedList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-weight: bold;
        margin-bottom: 0px;
        ;
    }
}

.mobileSeedItem {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.mobileActionLine {
    display: flex;
    flex-wrap: wrap;
}

.tableActionLine {
    // display: flex;
    flex-wrap: wrap;
}

.epochChanges {
    display: flex;
    align-items: center;
}

.cardEpochChanges {
    margin-bottom: -20px;
}

.down,
.up {
    display: none;
}

.straight {
    display: inline;
}

.isPositiv {

    .down,
    .straight {
        display: none;
    }

    .up {
        display: inline;
    }
}

.isNegativ {

    .up,
    .straight {
        display: none;
    }

    .down {
        display: inline;
    }
}


.card-list {
    gap: 0px 20px;
}

mat-card {
    min-width: 385px;
    margin-bottom: 20px;
}

::ng-deep {
    .is-mobile {
        mat-card {
            font-size: 80%;
            min-width: 100%
            // margin: 16px 0px 16px 0px;
        }
    }
}


.dashboard-balance-name {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}


.mat-mdc-form-field {
    width: 100%;
}

tr {
    height: 70px;
}

.dashboard-amount-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-amount-text {
    margin-right: 10px;
}

.eye-icon {
    cursor: pointer;
}

.no-data{
    padding-left: 10px;
}