.seedList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-weight: bold;
        margin-bottom: 0px;
    }
}

::ng-deep .delete-action {
    color: var(--warn-color) !important;

    mat-icon {
        color: var(--warn-color) !important;
    }
}

.mobileSeedItem {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.mobileActionLine {
    display: flex;
    flex-wrap: wrap;
}

.tableActionLine {
    // display: flex;
    flex-wrap: wrap;
}

.epochChanges {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardEpochChanges {
    margin-bottom: -20px;
}

.down,
.up {
    display: none;
}

.straight {
    display: inline;
}

.isPositiv {

    .down,
    .straight {
        display: none;
    }

    .up {
        display: inline;
    }
}

.isNegativ {

    .up,
    .straight {
        display: none;
    }

    .down {
        display: inline;
    }
}


.card-list {
    gap: 0px 20px;
}

mat-card {
    width: 100%;
    max-width: 420px;
    margin-bottom: 20px;
}

.dashboard-wallet-name {
    display: flex;
    max-width: 100%;

    .alias-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;
        min-width: 0;
        max-width: 100%;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .watch-icon {
            flex-shrink: 0;
        }
    }
}

::ng-deep {
    .is-mobile {
        mat-card {
            font-size: 80%;
            min-width: 100% // margin: 16px 0px 16px 0px;
        }
    }
}


.dashboard-balance-name {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}


.mat-mdc-form-field {
    width: 100%;
}

tr {
    height: 70px;
}

.dashboard-amount-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-amount-text {
    margin-right: 10px;
}

.eye-icon {
    cursor: pointer;
}

.no-data {
    padding-left: 10px;
}

.yellow-dot {
    background-color: yellowgreen;
    vertical-align: baseline;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    color: black;
}

.orange-dot {
    background-color: orange;
    vertical-align: baseline;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    color: black;
}

.red-dot {
    background-color: red;
    vertical-align: baseline;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    color: black;
}

.alias-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 4px; // spacing between alias and icon
}

.watch-icon {
    font-size: 18px;
    color: gray;
    vertical-align: middle;
}