form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
}
.file-input {
    display: none;
}

mat-form-field {
    width: 100%;
  }
  
  mat-error {
    display: block;
    width: 100%;
    text-align: left; /* Optional, falls du den Text links ausrichten willst */
  }
  