<ng-container *transloco="let t">
    <div class="content_container">
        <h1>{{ t("general.navigation.balance") }}</h1>
        <div class="flex flex-wrap card-list">
            <div>
                <span *ngIf="!isShowAllTransactions">
                    <button [disabled]="transactionsRecord.length <= 0" color="accent" mat-raised-button
                        (click)="exportTransactionsToCsv()">
                        <mat-icon>file_download</mat-icon>
                        {{ t("balanceComponent.transactions.exportButton") }}
                    </button>
                </span>
                <span *ngIf="isShowAllTransactions">
                    <button color="accent" mat-raised-button (click)="exportTransactionsToCsv()">
                        <mat-icon>file_download</mat-icon>
                        {{ t("balanceComponent.transactions.exportButton") }}
                    </button>
                </span>
                <mat-slide-toggle (change)="toggleShowAllTransactionsView($event)" [checked]="isShowAllTransactions">{{
                    t('balanceComponent.transactions.showAllTransactions')}}</mat-slide-toggle>
            </div>
            <div style="margin-left: auto;" class="text-right">
                <div class="dashboard-amount-container dashboard-amount-name">
                    <strong class="balance-amount disable-area">{{ getTotalBalance(true) | number: '1.0-0' }} {{
                        t("general.currency") }}</strong> =
                    {{ t("balanceComponent.overview.estimatedWalletValue") }} {{ t("balanceComponent.overview.baseDate")
                    }} {{ getDate() | date }}
                    <img src="assets/img/view-off-slash-stroke-rounded.svg" class="eye-icon" *ngIf="!isBalanceHidden"
                        (click)="balanceHidden()" title="Hide Balance" />
                    <img src="assets/img/eye-open.svg" class="eye-icon" *ngIf="isBalanceHidden"
                        (click)="balanceHidden()" title="Show Balance" />
                </div>
                <div *ngIf="accountBalances.length > 0 && hasSeeds()">
                    <span class="dashboard-amount-container dashboard-amount-name">
                        <strong class="balance-amount disable-area">{{ getTotalBalance() | number: '1.0-0' }} {{
                            t("general.currency") }}</strong> =
                        {{ t("balanceComponent.overview.totalWalletValue") }} {{ t("balanceComponent.overview.baseDate")
                        }} {{ accountBalances[0].baseDate | date }}
                    </span>
                </div>
            </div>
        </div>
        <span *ngIf="!isShowAllTransactions">
            <div *ngIf="getTransactions().length > 0">
                <h2 *ngIf="!isShowAllTransactions">{{ t("balanceComponent.transactions.title") }}</h2>
                <div *ngIf="accountBalances.length <= 0 && hasSeeds()">
                    <div class="loading">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
                    <div class="text-center">
                        {{ t("general.loading") }}
                    </div>
                </div>

                <mat-accordion *ngFor="let transaction of getTransactions()">
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <qli-transfer-status [transaction]="transaction"></qli-transfer-status>
                                &nbsp;
                                <a [href]="'https://explorer.qubic.org/network/tick/' + transaction.targetTick"
                                    target="_blank">{{ transaction.targetTick | number: '1.0-0' }}
                                </a>
                                <span class="desktopOnly">
                                    &nbsp;-
                                    {{ transaction.created | date}}
                                    {{ transaction.created | date:'HH:mm:ss' }} UTC
                                </span>
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ transaction.amount | number: '1.0-0'
                                }}&nbsp;{{
                                t("general.currency") }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="transaction-list-compact">
                            <div>
                                <div class="trans-amount currency-value disable-area">
                                    <span class="col-title">
                                        Amount<br>
                                        Status<br>
                                        Source<br>
                                        Destination<br>
                                        Tick<br>
                                        Tx<br>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span>
                                    {{ transaction.amount | number: '1.0-0'
                                    }}&nbsp;{{
                                    t("general.currency") }}<br>
                                </span>
                                <span>
                                    {{ transaction.status }}<br>
                                </span>
                                <span>
                                    <a [href]="'https://explorer.qubic.org/network/address/' + transaction.sourceId"
                                        target="_blank">
                                        {{transaction.sourceId}}
                                    </a><br>
                                </span>
                                <a [href]="'https://explorer.qubic.org/network/address/' + transaction.destId"
                                    target="_blank">
                                    {{transaction.destId}}
                                </a><br>
                                <a [href]="'https://explorer.qubic.org/network/tick/' + transaction.targetTick"
                                    target="_blank">{{ transaction.targetTick | number: '1.0-0' }}
                                </a>&nbsp;
                                {{ transaction.created | date}}
                                {{ transaction.created | date:'HH:mm:ss' }} UTC
                                <br>
                                <a *ngIf="transaction.id.substring(56) !== 'aaaa'"
                                    [href]="'https://explorer.qubic.org/network/tx/' + transaction.id"
                                    target="_blank">{{transaction.id}}
                                </a>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </span>
        <span *ngIf="isShowAllTransactions">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ t("balanceComponent.transactions.filter.seed.label") }}</mat-label>
                <mat-select [formControl]="seedFilterFormControl">
                    <mat-option *ngFor="let seed of getSeeds()" [value]="seed.publicId" class="custom-mat-option">
                        {{ seed.publicId }} <br />{{seed.alias}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <h2 *ngIf="!isShowAllTransactions">{{ t("balanceComponent.transactions.titleLastEpochs", { lastEpochsText:
            numberLastEpoch}) }}</h2>
        <div>
            <div *ngIf="transactionsRecord.length <= 0">
                {{ t("balanceComponent.transactions.noTransactions") }}
            </div>
            <mat-accordion *ngFor="let transaction of transactionsRecord">
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="transaction.transactions[0].moneyFlew"
                                style="color: yellowgreen;">done</mat-icon>
                            <mat-icon *ngIf="!transaction.transactions[0].moneyFlew" style="color: red">clear</mat-icon>
                            &nbsp;
                            <a [href]="'https://explorer.qubic.org/network/tick/' + transaction.tickNumber"
                                target="_blank">{{ transaction.tickNumber | number: '1.0-0' }}
                            </a>
                            <span class="desktopOnly">
                                &nbsp;-
                                {{ transaction.transactions[0].timestamp | date}} {{
                                transaction.transactions[0].timestamp |
                                date:'HH:mm:ss' }} UTC
                            </span>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ transaction.transactions[0].transaction.amount | number: '1.0-0'
                            }}&nbsp;{{
                            t("general.currency") }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="transaction-list-compact">
                        <div>
                            <div class="trans-amount currency-value disable-area">
                                <span class="col-title">
                                    Amount<br>
                                    Type<br>
                                    Source<br>
                                    Destination<br>
                                    Tick<br>
                                    Tx<br>
                                </span>
                            </div>
                        </div>
                        <div>
                            <span>
                                {{ transaction.transactions[0].transaction.amount | number: '1.0-0'
                                }}&nbsp;{{
                                t("general.currency") }}<br>
                            </span>
                            <span>
                                {{ transaction.transactions[0].transaction.inputType }}<br>
                            </span>
                            <span>
                                <a [href]="'https://explorer.qubic.org/network/address/' + transaction.transactions[0].transaction.sourceId"
                                    target="_blank">
                                    {{transaction.transactions[0].transaction.sourceId}}
                                </a><br>
                            </span>
                            <a [href]="'https://explorer.qubic.org/network/address/' + transaction.transactions[0].transaction.destId"
                                target="_blank">
                                {{transaction.transactions[0].transaction.destId}}
                            </a><br>
                            <a [href]="'https://explorer.qubic.org/network/tick/' + transaction.tickNumber"
                                target="_blank">{{ transaction.tickNumber | number: '1.0-0' }}
                            </a>&nbsp;
                            {{ transaction.transactions[0].timestamp | date}} {{ transaction.transactions[0].timestamp |
                            date:'HH:mm:ss' }} UTC
                            <br>
                            <a *ngIf="transaction.transactions[0].transaction.txId.substring(56) !== 'aaaa'"
                                [href]="'https://explorer.qubic.org/network/tx/' + transaction.transactions[0].transaction.txId"
                                target="_blank">{{transaction.transactions[0].transaction.txId}}
                            </a>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div *ngIf="!hasSeeds()">
            <button [routerLink]="['/']" mat-raised-button>
                {{ t("balanceComponent.createSeedHint") }}
            </button>
        </div>
    </div>
</ng-container>