@import "../../vars.scss";

.alert {

    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

.noMoneyFlow {
    text-decoration: line-through;
}

.balance-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
    overflow-x: auto;
    min-width: 120px;
  
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .col {
      flex: 1;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  
    .col:last-child {
      margin-right: 0;
    }
  
    .padding button {
      margin: 10px;
      padding: 10px 40px;
    }
  }

.transaction-list {

    .center {
        text-align: center;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;   
    column-gap: 10px;
    padding: 8px 0px 8px 0px;

    .send-receive-indicator {
        min-width: 180px;
        text-align: center;
    }       

    .receive {
        color: green;
    }

    .send {
        color: red;
    }

    .trans-date {
        font-size: 0.9em;
    }

    .trans-amount {
        font-weight: bold;
        min-width: 180px;
        display: flex;
        align-items: center;
    }

    .ownId {
        font-weight: normal;
    }

    .copy {
        width: inherit;
        font-family: "Space Mono";
    }

    .copy span {
        word-break: break-all;
    }   
}


.full-width {
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }

/* see mobile styles in styles.css */