<div class="content_container">
    <div>
        <div>
            <h1>Qubic Mobile Application Privacy Policy</h1>
        </div>
        <div class="flex-grow"></div>
        <p>
            <strong>Andromeda Software SRL ("Andromeda Software", "we", "our" or "us")</strong> respects your privacy
            and understands
            that it is important to you. We created this Privacy Policy to explain the types of information we collect
            through the Qubic and mobile application released by us (the <strong>"App"</strong>), how we will use,
            disclose and protect
            this information once it is collected, and how you can opt in or opt out of some of our uses and disclosures
            of certain information relating to your use of the App.
        </p>
        <p>
            THE APP IS OWNED, OPERATED AND RELEASED BY ANDROMEDA SOFTWARE SRL ONLY. ANDROMEDA SOFTWARE SRL IS
            INDEPENDENT OF, AND OPERATES SEPARATELY FROM, ANY SOFTWARE THAT IS NOT RELEASED BY ANDROMEDA SOFTWARE SRL
            (COLLECTIVELY, <strong>"SEPARATE TECHNOLOGIES"</strong>). FOR THE AVOIDANCE OF DOUBT, ANDROMEDA SOFTWARE SRL
            DOES NOT OWN,
            DEVELOP, OPERATE, MAINTAIN OR SUPPORT ANY OF THE SEPARATE TECHNOLOGIES.
        </p>
        <p>
            Please read this Privacy Policy carefully to understand our policies and practices regarding information
            that we collect through the App about you and your use of the App and how we will treat it. If you do not
            agree with these policies and practices, do not download or use the App.
        </p>
        <h3>Changes to This Privacy Policy</h3>
        <p>
            We may update this Privacy Policy from time to time, in which case we will post the updated Privacy Policy
            at <a href="https://wallet.qubic.li/privacy-policy"
                target="_blank">https://wallet.qubic.li/privacy-policy</a>
            The date on which this Privacy Policy has most recently been updated is indicated at the end of this Privacy
            Policy. Your continued use of the App after we make changes will be deemed to be your acceptance of those
            changes, so please check the Privacy Policy periodically for updates.
        </p>
        <h3>What This Privacy Policy Applies To</h3>
        <p>
            This Privacy Policy applies only to the App and information that we collect through the App. This Privacy
            Policy DOES NOT, for example, apply to information that:
        </p>
        <ul>
            <li>We collect outside of the App, including, without limitation, on or through any other Andromeda Software
                SRL apps or any Andromeda Software SRL websites (including, without limitation, websites you may access
                through the App), through our social media pages or other presences on third-party websites, over the
                phone, by mail or in person; or</li>
            <li>You provide to, or is collected by, any third party.</li>
        </ul>
        <p>
            Our other apps and websites, and third parties, may have their own privacy policies, which we encourage you
            to read before using or providing information on, through or to them. For example, when you use the App on
            your device, certain third parties, such as your mobile device manufacturer or your mobile service provider
            may, separate from us, use automatic information collection technologies to collect information about you or
            your device, and that information they collect is not covered by this Privacy Policy.
        </p>
        <p>
            <strong><i>We do not control these third parties' data collection or tracking technologies or how they may
                    be used.</i></strong>
        </p>
        <h3>Individuals Under the Age of 18</h3>
        <p>
            The App is not intended for individuals under 18 years of age, and we do not knowingly collect personal
            information from underage individuals. If we learn we have collected or received personal information from
            an individual under 18 without verification of parental consent, we will delete that information. If you
            believe we might have any information from or about an individual under 18, please contact us at
            <a href="mailto:wallet@qubic.org" target="_blank">wallet@qubic.org</a>.
        </p>
        <h3>Information We May Collect and How We Collect It</h3>
        <p>
            We may collect information from and about users of the App:
        </p>
        <ul>
            <li>Directly from you when you provide it to us in connection with the App; and</li>
            <li>Automatically when you use the App.</li>
        </ul>
        <h3>Automatic Information Collection</h3>
        <p>
            When you download, access or use the App, we may automatically collect the following types of information
            about you and your use of the App:
        </p>
        <ul>
            <li>Device Information. We may collect and otherwise process information about your mobile device and
                internet connection on which and through which you use the App, including the device's unique device
                identifier, IP address, operating system, browser type, and mobile network information. We collect and
                otherwise process your device's unique device identifier solely as necessary for the legitimate interest
                of recording your agreement to this Privacy Policy for the App and collect and otherwise process your
                device's IP address solely as necessary for the legitimate interest of providing, operating, maintaining
                and developing the App. If we process your information based on our legitimate interests as explained
                above, you may have the right under certain laws and regulations to object to such processing and may
                contact us to inform us of your objection via email at <a href="mailto:wallet@qubic.org"
                    target="_blank">wallet@qubic.org</a>.</li>
        </ul>
        <h3>Clarifications Regarding Certain Information We Do Not Collect or See</h3>
        <ul>
            <li>A <strong>"Wallet Secret Phrase"</strong> is a unique word sequence that is provided to you by the App,
                through its
                direct interaction with the Qubic network (i.e., without our involvement), when you first
                create a new wallet on the Qubic network (a <strong>"Wallet"</strong>) using the App. Your Wallet Secret
                Phrase is the only way for you to recover your Wallet on the Qubic network and access any
                Qubic coins that you store in your Wallet. Your Wallet Secret Phrase is stored on your device and is
                never sent to us. Therefore, you are solely responsible for the security and safeguarding your Wallet
                Secret Phrase. We do not record, store or have access to your Wallet Secret Phrase and we cannot recover
                it for you if you lose it.</li>
            <li>Any QUBIC coins that you choose to hold, store, manage, receive, send or transmit using the App, and any
                balance or transaction information relating to it, are never held, stored, known, managed, received,
                sent or transmitted by Andromeda Software SRL. You are solely responsible for the security and privacy
                of your own QUBIC coins and information relating to them.</li>
            <li>We do not track the location of your device through the App.</li>
            <li>We do not collect your name or contact information through the App.</li>
            <li>We do not retain copies of your transaction history.</li>
        </ul>
        <h3>How We Use Your Information</h3>
        <p>
            We use the information that we collect about you through the App to:
        </p>
        <ul>
            <li>Provide you with, operate and maintain the App and its contents, and any other information, products or
                services that you request from us;</li>
            <li>Fulfill any other purpose for which you provide it;</li>
            <li>Recognize your device when you use the App.</li>
        </ul>
        <h3>Disclosure of Your Information</h3>
        <p>
            Notwithstanding anything to the contrary in this Privacy Policy, we may disclose aggregated anonymous
            information about our users, and information that does not identify any individual or device or account, to
            others, for their own use, without restriction.
        </p>
        <p>
            In addition, we may disclose information (including, without limitation, personal information) that we
            collect or you provide to us:
        </p>
        <ul>
            <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization,
                dissolution or other sale or transfer of some or all of Andromeda Software SRL's assets, whether as a
                going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information
                held by Andromeda Software SRL about the App users is among the assets transferred;</li>
            <li>To fulfill the purpose(s) for which you provide it;</li>
            <li>For any other purpose disclosed by us when you provide the information;</li>
            <li>With your consent;</li>
            <li>To comply with any court order, law or legal process, including to respond to any government or
                regulatory request;</li>
            <li>If we believe disclosure is necessary or appropriate to protect the rights, property or safety of
                Andromeda Software SRL, our customers or others (which includes exchanging information with other
                companies and organizations for the purposes of fraud protection).</li>
        </ul>
        <h3>Data Security</h3>
        <p>
            We have implemented measures designed to secure your personal information from accidental loss and from
            unauthorized access, use, alteration and disclosure. Unfortunately, the transmission of information via the
            internet and mobile platforms is not completely secure. While we endeavor to protect your personal
            information, we cannot guarantee the security of your personal information transmitted or collected through
            the App. Any transmission of personal information is at your own risk. We are not responsible for
            circumvention of any privacy settings or security measures we provide and will not have any liability for
            disclosure of your personal information due to errors or unauthorized acts of third parties during or after
            transmission or collection.
        </p>
        <p>
            The safety and security of your information also depends on you. Where the App has given you a Wallet Secret
            Phrase, you are solely responsible for keeping this Wallet Secret Phrase confidential, as it can be used to
            access your Wallet and any QUBIC coins you store in your Wallet. You should not share your Wallet Secret
            Phrase with anyone. We do not receive, collect, record, store or have access to your Wallet Secret Phrase
            and we cannot recover it for you if you lose it.
        </p>
        <h3>Contact Information</h3>
        <p>
            To ask questions or comment about this <strong>Privacy Policy</strong> or our privacy practices, you can
            contact us via email at <a href="mailto:wallet@qubic.org" target="_blank">wallet@qubic.org</a>
        </p>
        <p>
            <strong>Effective Date: January 1st, 2024</strong>
        </p>
    </div>
</div>