<ng-container *transloco="let t">
    <h2 mat-dialog-title>{{ t('qearn.history.unlock.title') }}</h2>
    <form [formGroup]="unlockForm" (ngSubmit)="onConfirm()">
        <mat-dialog-content>
            <app-stake-input [formGroup]="unlockForm" [maxAmount]="data.maxUnlockAmount"></app-stake-input>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button (click)="onCancel()">{{ t('general.buttons.close') }}</button>
            <button mat-button type="submit" [disabled]="unlockForm.invalid">{{
                t('confirmDialog.buttons.confirm') }}</button>
        </mat-dialog-actions>
    </form>
</ng-container>