$mainColor: #1bdef5;
$highlightColor: rgb(251, 255, 0);


$darkBackgroundColor: #101820;
$darkLighterBackgroundColor: #192531;
$darkLighter-10-BackgroundColor: #494F55;

// Transaction status colors
$trx-pending-color: #f5a623;      // Yellow/amber for pending
$trx-success-color: #4caf50;      // Green for success/executed
$trx-failure-color: #f44336;      // Red for failure/not-executed

// Material Design Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;