$mainColor: #1bdef5;
$highlightColor: rgb(251, 255, 0);


$darkBackgroundColor: #101820;
$darkLighterBackgroundColor: #192531;
$darkLighter-10-BackgroundColor: #494F55;

// Material Design Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;